<%= form_for post do |f| %>
     <div>
        <%= f.label :date, "Date: " %>
        <%= f.text_field :date %>
    </div>
<br>
     <div>
        <%= f.label :explanation, "Explanation: " %>
        <%= f.text_area :explanation %>
    </div>
<br>
    <div>
        <%= f.label :title, "Title: " %>
        <%= f.text_field :title %>
    </div>
<br>
     <div>
        <%= f.label :url, "URL: " %>
        <%= f.text_field :url %>
    </div>

<br><br>
<%= f.submit button_name %>

<% end %>
