
    
<div class="container" style="padding-top:50px">
<h4 class="text-center" style = "font-family: Courier New;"><strong><%= @post.title %></strong> </h4>
    <h5 class="text-center" style = "font-family: Courier New;"> <%= @post.date %></h5>
    <div class="align-items"><img style="display: block; margin: auto;" src=<%= @post.url %> alt=<%= @post.title %>></div> <br> <br>
        <h5 style = "font-family: Courier New; font-size: 22px"><strong>Explanation: </strong><br> <br><%= @post.explanation %></h5>
 
    <div style="font-family: Courier New; font-size: 22px"><%= link_to "Requirement Satisfaction", new_post_comment_path(@post) %></div> <br><br><br>

        <div class="media">
            <div>
                <%= form_for [@post, @comment] do |f| %>
                    <h5  style = "font-family: Courier New; font-size: 22px"><strong><%= f.label :text, "Add a Comment: " %> </strong></h5>
                    <%= f.text_field :text %>
                <% end %> </div><br>

       
                <div> <% @post.comments.each do |c| %> <br>
                    <div class="card">
                        <div class="card-body">
                        <div style="font-family: Courier New"><strong><%= c.user.email%></strong> </div>
                        <div style="font-family: Monaco"><%= c.text %> </div><br> 
                        <% if current_user == c.user %>
                            <a class="btn btn-dark" role="button" href=<%= edit_post_comment_path(@post, c)  %>>Edit</a>
                            <div class="btn btn-dark" role="button" ><%= link_to "Delete", post_comment_path(@post, c), method: "delete" %></div>
                        <% else %>
                            <a class="btn btn-dark" role="button"  href= <%= new_post_comment_reply_path(@post, c, @reply) %>>Reply</a> 
                        <% end %>
                    
                                    <div ><% c.replies.each do |r| %> </div> <br>
                                        <div style="margin-left: 100px">
                                        <div style="font-family: Courier New"> <strong><%= r.user.email %></strong></div> 
                                        <div style="font-family: Monaco"><%= r.text %> </div><br> 
                                            <a class="btn btn-dark" role="button" href=<%= edit_post_comment_reply_path(@post, c, r) %>>Edit</a> 
                                            <div class="btn btn-dark" role="button"><%= link_to "Delete", post_comment_reply_path(@post, c, r), method: "delete" %>  </div><br>
                                        <% end %> 
                                        </div>
                                </div>
                            </div>
                <% end %>
            </div>
</div>
                    

          
    
    
            
       
       
        
        

   

